@import "./global.scss";

// 遍历主题map
@mixin themeify {
    @each $theme-name,$theme-map in $themes {
        $theme-map:$theme-map !global;
        [data-theme = "#{$theme-name}"] & {
            @content
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
    }
    
    //获取背景颜色
    @mixin background_color($color) {
    @include themeify {
    background-color: themed($color)!important;
    }
    }
    
    //获取字体颜色
    @mixin font_color($color) {
    @include themeify {
    color: themed($color)!important;
    }
    }