.home-container {
    width: 100%;
    height: 100vh;
}
// 表格
$el-table-bg:rgba($color: 	#87CEEB, $alpha: 0.5);
$el-table-border-color:#87CEFA;
$el-table-header-bg:rgba($color: #00BFFF, $alpha: 0.8);


// 通用
$text-normal-color:#fff;


// 下拉框
$base-select-bg:rgba($color: 	#87CEEB, $alpha: 0.2);
$base-select-border-color:rgba($color: 	#87CEEB, $alpha: 0.5);
$base-select-border-focus:rgba($color: 	#87CEEB, $alpha: 0.5);
$base-select-option-bg:rgba($color: 	#87CEEB, $alpha: 0.2);
$base-select-option-select:rgba($color: #87ceeb, $alpha: 0.7);





/***********组件**************/
$blue-1:#82ccdd;
$blue-2:#60a3bc;
$blue-3:#3c6382;
$blue-4:#0a3d62;

$green-1:#AFEEEE;	


$themes:(
    light:(
        // 字体
        font_color1:#333333,

        // 页脚字体颜色
        footer_color1:#99b5b0,

        // 侧边栏背景色
        slider_color1:#82ccdd,

        // 整体背景色
        background_color1:#CCCCCC
        

    ),
    dark:(
                // 字体
                font_color1:#ffffff,

                // 页脚字体颜色
                footer_color1:#cccccc,
        
                // 侧边栏背景色
                slider_color1:#669999,
        
                // 整体背景色
                background_color1:#ccffcc
    ),
    man:(

    )
)